<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1">

        <title>-</title>

        <link rel="icon" type="image/png" href="https://i.ibb.co/3WGcJ5X/layers.png">

        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" integrity="sha256-4w9DunooKSr3MFXHXWyFER38WmPdm361bQS/2KUWZbU=" crossorigin="anonymous">

        <link rel="stylesheet" href="css/app.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

    </head>

    <body id="monster">

        <div id="app" class="container-fluid" v-cloak>

            <div class="row">

                <div class="col-sm">

                    <h4>You</h4>

                    <div class="health">
                        <div class="health-bar text-center" :style="{width: `${playerHealth}%`}">{{ playerHealth }}</div>
                    </div>

                </div> <!-- /.col-sm -->

                <div class="col-sm">
                    
                    <h4>Monster</h4>

                    <div class="health">
                        <div class="health-bar text-center" :style="{width: `${monsterHealth}%`}">{{ monsterHealth }}</div>
                    </div>

                </div> <!-- /.col-sm -->

            </div> <!-- /.row -->

            <div class="row" v-if="!gameIsRunning">

                <div class="col-sm text-center">

                   <button type="button" class="mt-4 btn btn-success" @click="startGame">Start New Game</button>

                </div> <!-- /.col-sm -->

            </div> <!-- /.row -->

            <div class="row" v-else>

                <div class="actions col-sm text-center">

                   <button type="button" class="mt-4 btn btn-danger" @click="attack">Attack</button>
                   <button type="button" class="mt-4 btn btn-warning" @click="specialAttack">Special Attack</button>
                   <button type="button" class="mt-4 btn btn-info" @click="heal">Heal</button>
                   <button type="button" class="mt-4 btn btn-light" @click="giveUp">Give Up</button>

                </div> <!-- /.col-sm -->

            </div> <!-- /.row -->

            <div class="row" v-if="turns.length > 0">

                <div id="game-progress" class="mt-4 col-sm text-center">

                   <h4>Progress</h4>

                   <ul class="list-group list-group-flush text-center">
                       <li class="list-group-item" v-for="turn in turns" :class="turn.isPlayer ? 'player-turn' : 'monster-turn'">{{ turn.text }}</li>
                   </ul>

                </div> <!-- /.col-sm -->

            </div> <!-- /.row -->

        </div> <!-- /#app & /.container-fluid -->

        <script>
            const log = data => console.log(data);
            
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        title: 'Monster Game',
                        gameIsRunning: false,
                        playerHealth: 100,
                        monsterHealth: 100,
                        turns: []
                    };
                },
                mounted() {
                    document.title = this.title;
                },
                computed: {

                },
                methods: {
                    startGame() {
                        this.gameIsRunning = true;
                        this.playerHealth = 100;
                        this.monsterHealth = 100;
                        this.turns = [];
                    },
                    attack() {
                        const damage = this.generateDamage(3, 10);
                        this.monsterHealth -= damage;
                        this.turns.unshift({ isPlayer: true, text: `Player hit Monster for ${damage}` });
                        if ( this.checkIfWon() ) return;
                        this.monsterAttack();
                    },
                    specialAttack() {
                        const damage = this.generateDamage(10, 20);
                        this.monsterHealth -= damage;
                        this.turns.unshift({ isPlayer: true, text: `Player hit Monster with special attack for ${damage}` });
                        if ( this.checkIfWon() ) return;
                        this.monsterAttack();
                    },
                    heal() {
                        this.playerHealth = this.playerHealth <= 90 ? this.playerHealth + 10 : 100;
                        this.turns.unshift({ isPlayer: true, text: 'Player heals for 10' });
                        this.monsterAttack();
                    },
                    giveUp() {
                        this.gameIsRunning = false;
                        this.turns.length = 0;
                    },
                    generateDamage(min, max) {
                        let rand = Math.floor((Math.random() * max) + 1); // Generate a random integer between 1 and max inclusive
                        return Math.max(rand, min); // Set rand to be the max value of min and rand
                    },
                    monsterAttack() {
                        const damage = this.generateDamage(3, 12);
                        this.playerHealth -= damage;
                        this.turns.unshift({ isPlayer: false, text: `Monster hit Player for ${damage}` });
                        this.checkIfWon();
                    },
                    checkIfWon() {
                        let message;

                        if (this.monsterHealth <= 0) message = 'You won! 😊';
                        else if (this.playerHealth <= 0) message = 'You lost! 😞';

                        if (this.monsterHealth <= 0 || this.playerHealth <= 0) {
                            confirm(`${message} New game?`) ? this.startGame() : this.gameIsRunning = false;
                            return true;
                        }
                    }
                },
                watch: {
                   // checkIfWon should be here without the need for checkIfWon()
                }
            });
        </script>
            
    </body>

</html>
